Repository Cray-HPE/docs-csm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cray-HPE/docs-csm-reviewers, @Cray-HPE/metal, @Cray-HPE/ci, @Cray-HPE/cms-core-bos, @Cray-HPE/cms-core-cfs, @Cray-HPE/cms-core-csm-product, @Cray-HPE/cms-core-console-logging, @Cray-HPE/cms-core-crus, @Cray-HPE/cms-core-vcs, @Cray-HPE/cms-core-ims, @Cray-HPE/cms-core-images, @Cray-HPE/user-access, @Cray-HPE/platform-engineering, @Cray-HPE/hardware-management, @Cray-HPE/management-network

.github/CODEOWNERS:

# Default group
*                                                       @Cray-HPE/docs-csm-reviewers

# Metal team items.
/background/ncn_*                                        @Cray-HPE/metal
/install/*                                               @Cray-HPE/metal
/install/livecd                                          @Cray-HPE/metal
/operations/bare_metal                                   @Cray-HPE/metal

# Continuous Integration Items
Jenkinsfile.github                                       @Cray-HPE/ci

# CMS Items
/operations/boot_orchestration                           @Cray-HPE/cms-core-bos
/operations/CSM_product_management                       @Cray-HPE/cms-core-cfs @Cray-HPE/cms-core-csm-product
/operations/conman                                       @Cray-HPE/cms-core-console-logging
/operations/compute_rolling_upgrades                     @Cray-HPE/cms-core-crus
/operations/configuration_management                     @Cray-HPE/cms-core-cfs @Cray-HPE/cms-core-vcs
/operations/image_management                             @Cray-HPE/cms-core-ims @Cray-HPE/cms-core-images                             

# User Access items
/operations/UAS_user_and_admin_topics                    @Cray-HPE/user-access

# PET Items
/operations/artifact_management                          @Cray-HPE/platform-engineering
/operations/kubernetes                                   @Cray-HPE/platform-engineering
/operations/multi-tenancy                                @Cray-HPE/platform-engineering
/operations/package_repository_management                @Cray-HPE/platform-engineering
/operations/spire                                        @Cray-HPE/platform-engineering
/operations/system_management_health                     @Cray-HPE/platform-engineering
/operations/utility_storage                              @Cray-HPE/platform-engineering
troubleshooting/kubernetes                               @Cray-HPE/platform-engineering
/workflows                                               @Cray-HPE/platform-engineering

# HMS Items
/operations/firmware                                     @Cray-HPE/hardware-management
/operations/hardware_state_manager                       @Cray-HPE/hardware-management
/operations/hmcollector                                  @Cray-HPE/hardware-management
/operations/hpe_pdu                                      @Cray-HPE/hardware-management
/operations/power_management                             @Cray-HPE/hardware-management
/operations/system_layout_service                        @Cray-HPE/hardware-management

# Network Items
/operations/network                                      @Cray-HPE/management-network

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Modify_a_Tenant.md
  operations/multi_tenancy/Modify_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Update operations/multi_tenancy/Create_a_Tenant.md
  operations/multi_tenancy/Create_a_Tenant.md
Owners: @Cray-HPE/docs-csm-reviewers

Add first pass of multi-tenancy documentation (CASMINST-4845)
  operations/multi-tenancy/CrayHncManager.md
  operations/multi-tenancy/Create_a_Tenant.md
  operations/multi-tenancy/Modify_a_Tenant.md
  operations/multi-tenancy/Overview.md
  operations/multi-tenancy/Remove_a_Tenant.md
  operations/multi-tenancy/Tapms.md
  operations/multi-tenancy/TenantAdminConfig.md
  operations/multi-tenancy/images/groupmembership.png
  operations/multi-tenancy/images/keycloakclient.png
  operations/multi-tenancy/images/oidctoken.png
  operations/multi-tenancy/images/usergroups.png
Owners: @Cray-HPE/platform-engineering

CASMTRIAGE-4039 Fix disk selection
  install/pre-installation.md
Owners: @Cray-HPE/metal

CASMTRIAGE-4039 Fix disk selection
  install/pre-installation.md
Owners: @Cray-HPE/metal

CASMTRIAGE-4039 Fix disk selection (#2367)
  install/pre-installation.md
Owners: @Cray-HPE/metal

CASMINST-5290 Fix handoff command
  install/deploy_final_non-compute_node.md
Owners: @Cray-HPE/metal

CASMINST-5290 Fix handoff command
  install/deploy_final_non-compute_node.md
Owners: @Cray-HPE/metal

CASMINST-5290 Fix handoff command (#2369)
  install/deploy_final_non-compute_node.md
Owners: @Cray-HPE/metal
